body {
  background-color: rgb(200, 191, 231);
  margin: 20px;
}

.gameinfo {
  font-size: 40px;
  color: rgb(68, 68, 68);
  font-family: 'Lobster', cursive;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  justify-content: space-around;
}

.card-back {
  background-color: rgb(255, 111, 105);
  color: rgb(68, 68, 68);
  height: 130px;
  width: 130px;
  margin-left: 15px;
  margin-top: 15px;
}

.card-front {
  background: url(bgnd1.png);
  height: 130px;
  width: 130px;
  margin-left: 15px;
  margin-top: 15px;
}

.game {
  display: flex;
  flex-direction: row;
}